.DetailPost .post {
  color: black;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 1%;
  font-family: cursive;
}

.DetailPost div p {
  margin: auto;
  text-align: center;
  width: 21%;
  margin-top: 2%;
}

.modify {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 5%;
}
.modify button {
  color: rgb(255, 213, 58);
  background-color: rgb(33, 37, 41);
  margin: auto;
  width: 200px;
  border-radius: 5px;
}

.DetailPost .post-picture {
  margin: auto;
  border-radius: 50%;
  margin-top: 2%;
  border: solid 1px red;
}

.image {
  border: solid 1px black;
  width: 400px;
  height: 200px;
  border-radius: 50px;
}

.deleteFav button {
  color: red;
  font-size: small;
}
