.AllPosts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: fit-content;
  margin-left: 10%;
  margin-top: 5%;
}

.AllPosts h3 {
  margin-top: 5%;
  text-align: center;
  border: solid 1px black;
  width: 300px;
  height: 40px;
  text-decoration: none;
  color: rgb(87, 206, 166);
  background-color: rgb(40, 44, 49);
  border-radius: 10px;
  font-family: cursive;
}

.AllPosts img {
  border-radius: 5%;
}

:link {
  text-decoration: none;
}
