.navbar-dark {
  background-color: rgba(106, 156, 98, 0.733);
}

.container h5 {
  border: solid 1px #5e5a5a;
  font-size: xx-large;
  font-weight: 300;
  color: white;
  text-align: center;
  border-radius: 100px;
  padding: 5px;
  margin-left: 30px;
  margin-right: -60px;
  margin-bottom: 50px;
  background-color: rgb(147, 182, 140);
}
